/* ---------------------UNIVERSAL ------------------- */
/* BODY */
body 
{
    background: #DDAF94;
    font-family: sans-serif;
    padding: 5px;
    position:relative; left:155px;
    
}


/* IMAGES */
img 
{
  border-style:solid;
  border-width: 5px;
  border-color: black;
    
}
/* NAVIGATION BAR */



.navigation {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    
}

.navigation a {
   
   padding: 8px 16px;
    text-decoration: none;
    
    color: #ffffff;
    display: block;
    
    
}

.navigation a:hover {
    background-color: rgba(54, 52, 52, 0.658);
    text-align:center
}
.active {
    background-color: rgb(38, 97, 80);
    color: white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
/* FIRST PAGE */
.paragraph
{
    border:dashed  2px;
    background-color: #E8CEBF;
    padding-left: 10px
    
   
    
}
/* SECOND PAGE */
/* TABLES */
table, th, td
{
    
    border: 1px solid black;
   
}
div > .tableOne
 { 
    width: 44%;
    float:left;
    margin:5px;
    background-color: rgba(153,50,204, 0.4);
     
} 
div > .tableTwo 
{ 
    width: 44%;
    float:right;
    margin:5px;
    background-color: rgba(99,74,65, 0.4);  
    position:relative; right:155px;
} 
div > .tableThree 
{ 
    width: 44%;
    float:left;
    margin:5px;
    background-color: rgba(3, 17, 7, 0.7);
    
} 
div > .tableFour
 { 
   
    width: 44%;
    float:right;
    margin:5px;
    background-color: rgba(170, 148, 66, 0.7);
    position:relative; right:155px;
    
} 
div > .tableFive
{ 
    width: 44%;
    float:left;
    margin:5px;
    background-color: rgba(88, 151, 209, 0.7);
} 
div > .tableSix
 { 
    width: 44%;
    float:right;
    margin:5px;
    background-color: rgba(192, 60, 3, 0.7); 
    position:relative; right:155px;
} 
/* BODY */
.paragraphTwo
{
    background-color: #91786a;
    border:dashed  2px;
    padding-left: 10px;
}
.paragraphThree
{
    background-color: #bba396;
    border:dashed  2px;
    padding-left: 10px;
 
}
 .one
{
    background-color: rgba(153,50,204, 0.4);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
 
} 
.two
{
    background-color: rgba(99,74,65, 0.4);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
} 
.three
{
    background-color: rgba(3, 17, 7, 0.7);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
} 
.four
{
    
  background-color: rgba(170, 148, 66, 0.7);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
} 
.five
{
    background-color:rgba(88, 151, 209, 0.7);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
} 
.six
{
    background-color: rgba(192, 60, 3, 0.7);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
} 
.live
{
    background-color: rgba(193, 172, 204, 0.486);
    width: 300px;
    border-style: groove;
    border-color: #4F4846;
} 
